.App {
  background: #141414;
  line-height: 1.2;
  color: #fff;
  text-align: left;
}

div.top-navigation {
  background-color: #141414;
}

div.title-container a {
  text-decoration: none;
  padding: 18px 10px;
  font-size: 32px;
  color: #e50914;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 118px;
}

div.alert {
   padding: 20px;
   color: white;
 }

div.alert-error {
  background-color: indianred;
}

div.alert-info {
  background-color: lightblue;
}
